--
-- PostgreSQL database dump
--

-- Dumped from database version 16.2
-- Dumped by pg_dump version 16.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.core_user OWNER TO postgres;

--
-- Name: core_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.core_user_groups OWNER TO postgres;

--
-- Name: core_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.core_user_user_permissions OWNER TO postgres;

--
-- Name: core_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: exercisehub_assessment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exercisehub_assessment (
    id bigint NOT NULL,
    weight numeric(5,2) NOT NULL,
    weight_added date NOT NULL,
    profile_id bigint NOT NULL
);


ALTER TABLE public.exercisehub_assessment OWNER TO postgres;

--
-- Name: exercisehub_assessment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.exercisehub_assessment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.exercisehub_assessment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: exercisehub_completedexercise; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exercisehub_completedexercise (
    id bigint NOT NULL,
    reps smallint NOT NULL,
    sets smallint NOT NULL,
    duration smallint NOT NULL,
    exercise_id bigint NOT NULL,
    completed_by_id bigint NOT NULL,
    time_completed date NOT NULL,
    CONSTRAINT exercisehub_completedexercise_duration_check CHECK ((duration >= 0)),
    CONSTRAINT exercisehub_completedexercise_reps_check CHECK ((reps >= 0)),
    CONSTRAINT exercisehub_completedexercise_sets_check CHECK ((sets >= 0))
);


ALTER TABLE public.exercisehub_completedexercise OWNER TO postgres;

--
-- Name: exercisehub_completedexercise_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.exercisehub_completedexercise ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.exercisehub_completedexercise_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: exercisehub_exercise; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exercisehub_exercise (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    description text NOT NULL,
    reps smallint,
    sets smallint,
    duration smallint NOT NULL,
    CONSTRAINT exercisehub_exercise_duration_check CHECK ((duration >= 0)),
    CONSTRAINT exercisehub_exercise_start_reps_check CHECK ((reps >= 0)),
    CONSTRAINT exercisehub_exercise_start_sets_check CHECK ((sets >= 0))
);


ALTER TABLE public.exercisehub_exercise OWNER TO postgres;

--
-- Name: exercisehub_exercise_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.exercisehub_exercise ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.exercisehub_exercise_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: exercisehub_exerciseachievement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exercisehub_exerciseachievement (
    id bigint NOT NULL,
    achieved_sets smallint,
    achieved_reps smallint,
    exercise_id bigint NOT NULL,
    profile_id bigint NOT NULL,
    duration smallint NOT NULL,
    date_added date NOT NULL,
    CONSTRAINT exercisehub_exerciseachievement_achieved_reps_check CHECK ((achieved_reps >= 0)),
    CONSTRAINT exercisehub_exerciseachievement_achieved_sets_check CHECK ((achieved_sets >= 0)),
    CONSTRAINT exercisehub_exerciseachievement_duration_check CHECK ((duration >= 0))
);


ALTER TABLE public.exercisehub_exerciseachievement OWNER TO postgres;

--
-- Name: exercisehub_exerciseachievement_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.exercisehub_exerciseachievement ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.exercisehub_exerciseachievement_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: exercisehub_exercisecustom; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exercisehub_exercisecustom (
    id bigint NOT NULL,
    new_reps smallint,
    new_sets smallint,
    duration smallint NOT NULL,
    created_by_id bigint NOT NULL,
    default_exercise_id bigint NOT NULL,
    CONSTRAINT exercisehub_exercisecustom_duration_check CHECK ((duration >= 0)),
    CONSTRAINT exercisehub_exercisecustom_new_reps_check CHECK ((new_reps >= 0)),
    CONSTRAINT exercisehub_exercisecustom_new_sets_check CHECK ((new_sets >= 0))
);


ALTER TABLE public.exercisehub_exercisecustom OWNER TO postgres;

--
-- Name: exercisehub_exercisecustom_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.exercisehub_exercisecustom ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.exercisehub_exercisecustom_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: exercisehub_exerciseplan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exercisehub_exerciseplan (
    id bigint NOT NULL,
    exercise_id bigint NOT NULL,
    plan_id bigint NOT NULL
);


ALTER TABLE public.exercisehub_exerciseplan OWNER TO postgres;

--
-- Name: exercisehub_exerciseplan_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.exercisehub_exerciseplan ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.exercisehub_exerciseplan_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: exercisehub_muscle; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exercisehub_muscle (
    id bigint NOT NULL,
    muscle character varying(255) NOT NULL
);


ALTER TABLE public.exercisehub_muscle OWNER TO postgres;

--
-- Name: exercisehub_muscle_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.exercisehub_muscle ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.exercisehub_muscle_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: exercisehub_muscleexercise; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exercisehub_muscleexercise (
    id bigint NOT NULL,
    exercise_id bigint NOT NULL,
    muscle_id bigint NOT NULL
);


ALTER TABLE public.exercisehub_muscleexercise OWNER TO postgres;

--
-- Name: exercisehub_muscleexercise_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.exercisehub_muscleexercise ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.exercisehub_muscleexercise_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: exercisehub_plan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exercisehub_plan (
    id bigint NOT NULL,
    profile_id bigint,
    weekday_id bigint
);


ALTER TABLE public.exercisehub_plan OWNER TO postgres;

--
-- Name: exercisehub_plan_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.exercisehub_plan ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.exercisehub_plan_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: exercisehub_profile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exercisehub_profile (
    id bigint NOT NULL,
    age smallint,
    start_weight numeric(5,2),
    height numeric(5,2),
    goal_weight numeric(5,2),
    user_id bigint NOT NULL,
    weight_now numeric(5,2),
    overall_completion_rate numeric(5,2) NOT NULL,
    CONSTRAINT exercisehub_profile_age_check CHECK ((age >= 0))
);


ALTER TABLE public.exercisehub_profile OWNER TO postgres;

--
-- Name: exercisehub_profile_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.exercisehub_profile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.exercisehub_profile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: exercisehub_tracking; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exercisehub_tracking (
    id bigint NOT NULL,
    completion_percentage numeric(5,2) NOT NULL,
    plan_id bigint NOT NULL
);


ALTER TABLE public.exercisehub_tracking OWNER TO postgres;

--
-- Name: exercisehub_tracking_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.exercisehub_tracking ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.exercisehub_tracking_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: exercisehub_weekday; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exercisehub_weekday (
    id bigint NOT NULL,
    weekday character varying(255) NOT NULL
);


ALTER TABLE public.exercisehub_weekday OWNER TO postgres;

--
-- Name: exercisehub_weekday_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.exercisehub_weekday ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.exercisehub_weekday_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: core_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.core_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$720000$P1T7iiE3w1LqMS3VSVVVe1$IXNxnXSmqctqfc/HWfC05owvaPjfQ/0EoqVmZorHFos=	\N	t	gurjika			lgurjidze@gmail.com	t	t	2024-03-10 19:13:46.987207+04
\.


--
-- Data for Name: core_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.core_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: core_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.core_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	core	user
7	exercisehub	assessment
8	exercisehub	exercise
9	exercisehub	muscle
10	exercisehub	weekday
11	exercisehub	exerciseachievement
12	exercisehub	exerciseplan
13	exercisehub	muscleexercise
14	exercisehub	plan
15	exercisehub	profile
16	exercisehub	tracking
17	exercisehub	exercisecustom
18	exercisehub	completedexercise
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Data for Name: exercisehub_assessment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exercisehub_assessment (id, weight, weight_added, profile_id) FROM stdin;
\.


--
-- Data for Name: exercisehub_completedexercise; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exercisehub_completedexercise (id, reps, sets, duration, exercise_id, completed_by_id, time_completed) FROM stdin;
\.


--
-- Data for Name: exercisehub_exercise; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: exercisehub_exerciseachievement; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exercisehub_exerciseachievement (id, achieved_sets, achieved_reps, exercise_id, profile_id, duration, date_added) FROM stdin;
\.


--
-- Data for Name: exercisehub_exercisecustom; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exercisehub_exercisecustom (id, new_reps, new_sets, duration, created_by_id, default_exercise_id) FROM stdin;
\.


--
-- Data for Name: exercisehub_exerciseplan; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exercisehub_exerciseplan (id, exercise_id, plan_id) FROM stdin;
\.


--
-- Data for Name: exercisehub_muscle; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exercisehub_muscle (id, muscle) FROM stdin;
1	Hamstrings
2	Glutes
3	Lower back
4	Traps
5	Chest
6	Shoulders
7	Triceps
8	Upper back
9	Latissimus dorsi
10	Biceps
11	Core
12	Quads
13	Gluteus maximus
14	Quadriceps
15	Rhomboids
16	Forearms
17	Calves
\.


--
-- Data for Name: exercisehub_muscleexercise; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exercisehub_muscleexercise (id, exercise_id, muscle_id) FROM stdin;
1	5	12
2	5	11
3	5	2
4	5	3
5	6	9
6	6	10
7	6	4
8	7	2
9	7	1
10	7	3
11	7	4
12	8	8
13	8	9
14	8	10
15	9	12
16	9	2
17	9	11
18	9	3
19	20	1
20	19	10
21	18	13
22	18	14
23	22	1
24	22	14
25	25	16
26	26	1
27	26	13
28	26	14
29	24	9
30	24	10
31	11	16
32	11	9
33	11	15
34	11	7
35	12	11
36	12	6
37	12	3
38	13	3
39	14	16
40	15	7
41	15	6
42	16	11
43	16	6
44	16	5
45	16	9
46	17	11
47	23	7
48	21	5
\.


--
-- Data for Name: exercisehub_plan; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exercisehub_plan (id, profile_id, weekday_id) FROM stdin;
\.


--
-- Data for Name: exercisehub_profile; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exercisehub_profile (id, age, start_weight, height, goal_weight, user_id, weight_now, overall_completion_rate) FROM stdin;
\.


--
-- Data for Name: exercisehub_tracking; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exercisehub_tracking (id, completion_percentage, plan_id) FROM stdin;
\.


--
-- Data for Name: exercisehub_weekday; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exercisehub_weekday (id, weekday) FROM stdin;
1	Monday
2	Tuesday
3	Wednesday
4	Thursday
5	Friday
6	Saturday
7	Sunday
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 72, true);


--
-- Name: core_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_user_groups_id_seq', 1, false);


--
-- Name: core_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_user_id_seq', 1, true);


--
-- Name: core_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 18, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 61, true);


--
-- Name: exercisehub_assessment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.exercisehub_assessment_id_seq', 1, false);


--
-- Name: exercisehub_completedexercise_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.exercisehub_completedexercise_id_seq', 1, false);


--
-- Name: exercisehub_exercise_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.exercisehub_exercise_id_seq', 26, true);


--
-- Name: exercisehub_exerciseachievement_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.exercisehub_exerciseachievement_id_seq', 1, false);


--
-- Name: exercisehub_exercisecustom_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.exercisehub_exercisecustom_id_seq', 1, false);


--
-- Name: exercisehub_exerciseplan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.exercisehub_exerciseplan_id_seq', 1, false);


--
-- Name: exercisehub_muscle_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.exercisehub_muscle_id_seq', 17, true);


--
-- Name: exercisehub_muscleexercise_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.exercisehub_muscleexercise_id_seq', 48, true);


--
-- Name: exercisehub_plan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.exercisehub_plan_id_seq', 1, false);


--
-- Name: exercisehub_profile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.exercisehub_profile_id_seq', 1, false);


--
-- Name: exercisehub_tracking_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.exercisehub_tracking_id_seq', 1, false);


--
-- Name: exercisehub_weekday_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.exercisehub_weekday_id_seq', 7, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: core_user core_user_email_92a71487_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_user
    ADD CONSTRAINT core_user_email_92a71487_uniq UNIQUE (email);


--
-- Name: core_user_groups core_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_user_groups
    ADD CONSTRAINT core_user_groups_pkey PRIMARY KEY (id);


--
-- Name: core_user_groups core_user_groups_user_id_group_id_c82fcad1_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_user_groups
    ADD CONSTRAINT core_user_groups_user_id_group_id_c82fcad1_uniq UNIQUE (user_id, group_id);


--
-- Name: core_user core_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_user
    ADD CONSTRAINT core_user_pkey PRIMARY KEY (id);


--
-- Name: core_user_user_permissions core_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_user_user_permissions
    ADD CONSTRAINT core_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: core_user_user_permissions core_user_user_permissions_user_id_permission_id_73ea0daa_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_user_user_permissions
    ADD CONSTRAINT core_user_user_permissions_user_id_permission_id_73ea0daa_uniq UNIQUE (user_id, permission_id);


--
-- Name: core_user core_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_user
    ADD CONSTRAINT core_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: exercisehub_assessment exercisehub_assessment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercisehub_assessment
    ADD CONSTRAINT exercisehub_assessment_pkey PRIMARY KEY (id);


--
-- Name: exercisehub_completedexercise exercisehub_completedexercise_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercisehub_completedexercise
    ADD CONSTRAINT exercisehub_completedexercise_pkey PRIMARY KEY (id);


--
-- Name: exercisehub_exercise exercisehub_exercise_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercisehub_exercise
    ADD CONSTRAINT exercisehub_exercise_pkey PRIMARY KEY (id);


--
-- Name: exercisehub_exerciseachievement exercisehub_exerciseachievement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercisehub_exerciseachievement
    ADD CONSTRAINT exercisehub_exerciseachievement_pkey PRIMARY KEY (id);


--
-- Name: exercisehub_exercisecustom exercisehub_exercisecustom_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercisehub_exercisecustom
    ADD CONSTRAINT exercisehub_exercisecustom_pkey PRIMARY KEY (id);


--
-- Name: exercisehub_exerciseplan exercisehub_exerciseplan_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercisehub_exerciseplan
    ADD CONSTRAINT exercisehub_exerciseplan_pkey PRIMARY KEY (id);


--
-- Name: exercisehub_muscle exercisehub_muscle_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercisehub_muscle
    ADD CONSTRAINT exercisehub_muscle_pkey PRIMARY KEY (id);


--
-- Name: exercisehub_muscleexercise exercisehub_muscleexercise_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercisehub_muscleexercise
    ADD CONSTRAINT exercisehub_muscleexercise_pkey PRIMARY KEY (id);


--
-- Name: exercisehub_plan exercisehub_plan_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercisehub_plan
    ADD CONSTRAINT exercisehub_plan_pkey PRIMARY KEY (id);


--
-- Name: exercisehub_plan exercisehub_plan_profile_id_weekday_id_5567bef2_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercisehub_plan
    ADD CONSTRAINT exercisehub_plan_profile_id_weekday_id_5567bef2_uniq UNIQUE (profile_id, weekday_id);


--
-- Name: exercisehub_profile exercisehub_profile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercisehub_profile
    ADD CONSTRAINT exercisehub_profile_pkey PRIMARY KEY (id);


--
-- Name: exercisehub_profile exercisehub_profile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercisehub_profile
    ADD CONSTRAINT exercisehub_profile_user_id_key UNIQUE (user_id);


--
-- Name: exercisehub_tracking exercisehub_tracking_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercisehub_tracking
    ADD CONSTRAINT exercisehub_tracking_pkey PRIMARY KEY (id);


--
-- Name: exercisehub_weekday exercisehub_weekday_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercisehub_weekday
    ADD CONSTRAINT exercisehub_weekday_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: core_user_email_92a71487_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_user_email_92a71487_like ON public.core_user USING btree (email varchar_pattern_ops);


--
-- Name: core_user_groups_group_id_fe8c697f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_user_groups_group_id_fe8c697f ON public.core_user_groups USING btree (group_id);


--
-- Name: core_user_groups_user_id_70b4d9b8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_user_groups_user_id_70b4d9b8 ON public.core_user_groups USING btree (user_id);


--
-- Name: core_user_user_permissions_permission_id_35ccf601; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_user_user_permissions_permission_id_35ccf601 ON public.core_user_user_permissions USING btree (permission_id);


--
-- Name: core_user_user_permissions_user_id_085123d3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_user_user_permissions_user_id_085123d3 ON public.core_user_user_permissions USING btree (user_id);


--
-- Name: core_user_username_36e4f7f7_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_user_username_36e4f7f7_like ON public.core_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: exercisehub_assessment_profile_id_cd4143b2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX exercisehub_assessment_profile_id_cd4143b2 ON public.exercisehub_assessment USING btree (profile_id);


--
-- Name: exercisehub_completedexercise_completed_by_id_96633901; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX exercisehub_completedexercise_completed_by_id_96633901 ON public.exercisehub_completedexercise USING btree (completed_by_id);


--
-- Name: exercisehub_completedexercise_exercise_id_be2ff51c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX exercisehub_completedexercise_exercise_id_be2ff51c ON public.exercisehub_completedexercise USING btree (exercise_id);


--
-- Name: exercisehub_exerciseachievement_exercise_id_9a3e1b02; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX exercisehub_exerciseachievement_exercise_id_9a3e1b02 ON public.exercisehub_exerciseachievement USING btree (exercise_id);


--
-- Name: exercisehub_exerciseachievement_profile_id_c74dbbff; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX exercisehub_exerciseachievement_profile_id_c74dbbff ON public.exercisehub_exerciseachievement USING btree (profile_id);


--
-- Name: exercisehub_exercisecustom_created_by_id_0a792334; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX exercisehub_exercisecustom_created_by_id_0a792334 ON public.exercisehub_exercisecustom USING btree (created_by_id);


--
-- Name: exercisehub_exercisecustom_default_exercise_id_2635da4e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX exercisehub_exercisecustom_default_exercise_id_2635da4e ON public.exercisehub_exercisecustom USING btree (default_exercise_id);


--
-- Name: exercisehub_exerciseplan_exercise_id_42305667; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX exercisehub_exerciseplan_exercise_id_42305667 ON public.exercisehub_exerciseplan USING btree (exercise_id);


--
-- Name: exercisehub_exerciseplan_plan_id_f7c33940; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX exercisehub_exerciseplan_plan_id_f7c33940 ON public.exercisehub_exerciseplan USING btree (plan_id);


--
-- Name: exercisehub_muscleexercise_exercise_id_e5143bea; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX exercisehub_muscleexercise_exercise_id_e5143bea ON public.exercisehub_muscleexercise USING btree (exercise_id);


--
-- Name: exercisehub_muscleexercise_muscle_id_68d2124f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX exercisehub_muscleexercise_muscle_id_68d2124f ON public.exercisehub_muscleexercise USING btree (muscle_id);


--
-- Name: exercisehub_plan_profile_id_33d74a49; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX exercisehub_plan_profile_id_33d74a49 ON public.exercisehub_plan USING btree (profile_id);


--
-- Name: exercisehub_plan_weekday_id_e7ff1574; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX exercisehub_plan_weekday_id_e7ff1574 ON public.exercisehub_plan USING btree (weekday_id);


--
-- Name: exercisehub_tracking_plan_id_fd435dc4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX exercisehub_tracking_plan_id_fd435dc4 ON public.exercisehub_tracking USING btree (plan_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_user_groups core_user_groups_group_id_fe8c697f_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_user_groups
    ADD CONSTRAINT core_user_groups_group_id_fe8c697f_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_user_groups core_user_groups_user_id_70b4d9b8_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_user_groups
    ADD CONSTRAINT core_user_groups_user_id_70b4d9b8_fk_core_user_id FOREIGN KEY (user_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_user_user_permissions core_user_user_permi_permission_id_35ccf601_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_user_user_permissions
    ADD CONSTRAINT core_user_user_permi_permission_id_35ccf601_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_user_user_permissions core_user_user_permissions_user_id_085123d3_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_user_user_permissions
    ADD CONSTRAINT core_user_user_permissions_user_id_085123d3_fk_core_user_id FOREIGN KEY (user_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_core_user_id FOREIGN KEY (user_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: exercisehub_assessment exercisehub_assessme_profile_id_cd4143b2_fk_exerciseh; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercisehub_assessment
    ADD CONSTRAINT exercisehub_assessme_profile_id_cd4143b2_fk_exerciseh FOREIGN KEY (profile_id) REFERENCES public.exercisehub_profile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: exercisehub_completedexercise exercisehub_complete_completed_by_id_96633901_fk_exerciseh; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercisehub_completedexercise
    ADD CONSTRAINT exercisehub_complete_completed_by_id_96633901_fk_exerciseh FOREIGN KEY (completed_by_id) REFERENCES public.exercisehub_profile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: exercisehub_completedexercise exercisehub_complete_exercise_id_be2ff51c_fk_exerciseh; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercisehub_completedexercise
    ADD CONSTRAINT exercisehub_complete_exercise_id_be2ff51c_fk_exerciseh FOREIGN KEY (exercise_id) REFERENCES public.exercisehub_exercise(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: exercisehub_exercisecustom exercisehub_exercise_created_by_id_0a792334_fk_core_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercisehub_exercisecustom
    ADD CONSTRAINT exercisehub_exercise_created_by_id_0a792334_fk_core_user FOREIGN KEY (created_by_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: exercisehub_exercisecustom exercisehub_exercise_default_exercise_id_2635da4e_fk_exerciseh; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercisehub_exercisecustom
    ADD CONSTRAINT exercisehub_exercise_default_exercise_id_2635da4e_fk_exerciseh FOREIGN KEY (default_exercise_id) REFERENCES public.exercisehub_exercise(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: exercisehub_exerciseplan exercisehub_exercise_exercise_id_42305667_fk_exerciseh; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercisehub_exerciseplan
    ADD CONSTRAINT exercisehub_exercise_exercise_id_42305667_fk_exerciseh FOREIGN KEY (exercise_id) REFERENCES public.exercisehub_exercise(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: exercisehub_exerciseachievement exercisehub_exercise_exercise_id_9a3e1b02_fk_exerciseh; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercisehub_exerciseachievement
    ADD CONSTRAINT exercisehub_exercise_exercise_id_9a3e1b02_fk_exerciseh FOREIGN KEY (exercise_id) REFERENCES public.exercisehub_exercise(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: exercisehub_exerciseplan exercisehub_exercise_plan_id_f7c33940_fk_exerciseh; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercisehub_exerciseplan
    ADD CONSTRAINT exercisehub_exercise_plan_id_f7c33940_fk_exerciseh FOREIGN KEY (plan_id) REFERENCES public.exercisehub_plan(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: exercisehub_exerciseachievement exercisehub_exercise_profile_id_c74dbbff_fk_exerciseh; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercisehub_exerciseachievement
    ADD CONSTRAINT exercisehub_exercise_profile_id_c74dbbff_fk_exerciseh FOREIGN KEY (profile_id) REFERENCES public.exercisehub_profile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: exercisehub_muscleexercise exercisehub_muscleex_exercise_id_e5143bea_fk_exerciseh; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercisehub_muscleexercise
    ADD CONSTRAINT exercisehub_muscleex_exercise_id_e5143bea_fk_exerciseh FOREIGN KEY (exercise_id) REFERENCES public.exercisehub_exercise(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: exercisehub_muscleexercise exercisehub_muscleex_muscle_id_68d2124f_fk_exerciseh; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercisehub_muscleexercise
    ADD CONSTRAINT exercisehub_muscleex_muscle_id_68d2124f_fk_exerciseh FOREIGN KEY (muscle_id) REFERENCES public.exercisehub_muscle(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: exercisehub_plan exercisehub_plan_profile_id_33d74a49_fk_exercisehub_profile_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercisehub_plan
    ADD CONSTRAINT exercisehub_plan_profile_id_33d74a49_fk_exercisehub_profile_id FOREIGN KEY (profile_id) REFERENCES public.exercisehub_profile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: exercisehub_plan exercisehub_plan_weekday_id_e7ff1574_fk_exercisehub_weekday_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercisehub_plan
    ADD CONSTRAINT exercisehub_plan_weekday_id_e7ff1574_fk_exercisehub_weekday_id FOREIGN KEY (weekday_id) REFERENCES public.exercisehub_weekday(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: exercisehub_profile exercisehub_profile_user_id_11390733_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercisehub_profile
    ADD CONSTRAINT exercisehub_profile_user_id_11390733_fk_core_user_id FOREIGN KEY (user_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: exercisehub_tracking exercisehub_tracking_plan_id_fd435dc4_fk_exercisehub_plan_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercisehub_tracking
    ADD CONSTRAINT exercisehub_tracking_plan_id_fd435dc4_fk_exercisehub_plan_id FOREIGN KEY (plan_id) REFERENCES public.exercisehub_plan(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

